<% users.each do |user| %>
  <div class="user-info">
    <div class="user-info-container">
      <div class="user-item">
        <image src="<%= user.img %>" class="user-image"></image>
      </div>
      <div class="user-item info-div">
        <ul>
          <li class="user-name"><%= user.name %></li>
          <li class="language">native: <%= user.native %></li>
          <div class="study">
            <li><i class="fas fa-arrows-alt-h"></i><span class="language"> study:<%=user.study %></span></li>
          </div>
        </ul>
      </div>
    </div>
    <div class="user-intro">
      <%= user.intro %>
    </div>
  </div>
<% end %>