<div id="post-container"  class="post-container">
  <% posts.each do |post| %>
    <% if post.user_id == current_user.id %>
      <div class="post-block post-block-mine">
        <div class="post-div">
          <p><%= current_user.name %></>
          <div class="post post-mine"><%= post.message %></div>
        </div>
        <img src="<%= current_user.img %>" class = "icon_image">
      </div>
    <% else %>
      <div class="post-block post-block-others">
        <img src="<%= post.user.img %>" class = "icon_image">
        <div class="post-div">
          <p><%= post.user.name  %></p>
          <div class="post post-others"><%= post.message %></div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
